
.profile {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  align-items: center;
  margin: 1rem 1rem 0 0;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(14, 204, 204, 0.29);
  transition: background-color 250ms ease;
}

.profile:hover {
  background-color: white;
  /* border-color: rgb(6, 68, 68); */
  color: rgb(6, 68, 68);
}

.profile svg {
  fill: white;
  margin-right: 8px;
  margin-bottom: -10px;
}

.profile:hover svg {
  fill: rgb(6, 68, 68);
}